[data-id="wifi-bars"] {
    height: 28px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: -28px;
}

[data-id="wifi-bars"] > * {
    background-color: #7098a2;
    height: 28px;
    width: 5px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: -28px;
}

[data-id="wifi-bars"] > *.disabled {
    background-color: #b1cbd1 !important;
}

[data-id="wifi-bars"] > [data-id="nill"] {
    height: 7px;
}

[data-id="wifi-bars"] > [data-id="low"] {
    height: 14px;
}

[data-id="wifi-bars"] > [data-id="medium"] {
    height: 21px;
}